
### This program utilizes Selenium to scrape population data tables from worldometers website and store the information in Pandas DataFrames.

In [14]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import pandas as pd

In [9]:
driver = webdriver.Chrome()
driver.get("https://www.worldometers.info/world-population/population-by-country/")
driver.maximize_window()

In [13]:
countries = driver.find_elements(By.XPATH,"//tbody//tr//td[2]//a")
population = driver.find_elements(By.XPATH,"//tbody//tr//td[3]")
yearly_share = driver.find_elements(By.XPATH,"//tbody//tr//td[4]")
world_share = driver.find_elements(By.XPATH,"//tbody//tr//td[12]")


population_result = []

for i in range(len(yearly_share)):
    temporary_data= {"country" : countries[i].text,
                     "population": population[i].text,
                     "yearly share": yearly_share[i].text,
                     "world share" : world_share[i].text
                     }
    population_result.append(temporary_data)

In [15]:
df_data = pd.DataFrame(population_result)
df_data

              country     population yearly share world share
0               India  1,450,935,791       0.89 %     17.78 %
1               China  1,419,321,278      -0.23 %     17.39 %
2       United States    345,426,571       0.57 %      4.23 %
3           Indonesia    283,487,931       0.82 %      3.47 %
4            Pakistan    251,269,164       1.52 %      3.08 %
..                ...            ...          ...         ...
229        Montserrat          4,389      -0.70 %      0.00 %
230  Falkland Islands          3,470      -0.20 %      0.00 %
231           Tokelau          2,506       4.55 %      0.00 %
232              Niue          1,819       0.11 %      0.00 %
233          Holy See            496       0.00 %      0.00 %

[234 rows x 4 columns]